body{
    /* background-color: lightgoldenrodyellow;*/
     animation-name: color_change;
     animation-duration: 2s;  
     animation-iteration-count: infinite;
 }
 @keyframes color_change {
     from {background-image:url(https://i.ibb.co/6swTPWb/painting-mountain-lake-with-mountain-background.jpg) ;}
     to {background-image: url(https://i.ibb.co/6swTPWb/painting-mountain-lake-with-mountain-background.jpg);}
 }
 
 .Payment2{
     font-size: 25px;
    background-color: mediumaquamarine;
     border-style:groove;
     color: white;
 }
 
 .netbanking{
     font-size: 25px;
    background-color: mediumaquamarine;
     border-style: ridge;
     color: white;
 }
 
 .cards{
     font-size: 25px;
    background-color: mediumaquamarine;
     border-style:groove;
     color: white;
 }
 
 .Credit{
     background-color: mediumaquamarin;
     border-style: groove;
 }
 
 .details{
    background-color: mediumaquamarine;
     border-style: groove;
 }
 
 .lastp{
    background-color: lightblue;
     font: size 20px;
     color: white;
 }
 #ordershow{
     font-size: 20px;
     background-color:yellow;
     border-radius: 100px;
 }
 
 footer {
     background-color: #333;
     color: #fff;
     text-align: center;
     padding: 10px;
     position:fixed;
     bottom: 0;
     width: 100%;
     left: -6px;
 }